* {
    transform-style: preserve-3d;
}
body{
    margin: 0;
    height: 100vh;
    overflow: hidden;
    display: grid;
    place-items: center;
    background: #212121;
}
.content{
    width: 50vmin;
    height: 50vmin;
    perspective: 100vmin;
    animation: spin-all 4s ease-in-out 0s infinite;
}
.cube{
    background: #fff;
    width: 20vmin;
    height: 20vmin;
    border-radius: 2vmin;
    transform: rotate(48deg) rotateX(22.5deg) rotateY(-22.5deg);
    left: 14.5vmin;
    position: absolute;
    top: 5vmin;
    transition: all 1s ease 0s;
}
.cube, .cube:before, .cube:after{
    animation: spin-cube 2s ease-in-out -3s infinite alternate;
}
.cube:before, .cube:after{
    position: absolute;
    content: "";
    background: #fff;
    width: calc(100% - 2vmin);
    height: calc(100% - 2vmin);
    border-radius: 2vmin;
    transform: rotateY(-90deg);
    transform-origin: right bottom;
    top: 2.5vmin;
    left: 4vmin;
    transition: all 1s ease 0s;
    animation-name: spin-cube-before;
}
.cube:after{
    top: 4vmin;
    transform: rotateX(90deg);
    animation-name: spin-cube-after;
}
