#box1{
    width: 100px;
    height: 100px;
    background-color: rgb(45, 45, 215);
    position: relative;
    top: 50px;
    left: 100px;

}

#box2{
    width: 100px;
    height: 100px;
    background-color: rgb(233, 169, 43);
    position: fixed;
    right: 0px;
    bottom: 0px;

}


#box3{
    width: 200px;
    height: 200px;
    background-color: rgb(43, 233, 94);
    position: fixed;
    top: 100px;
    left: 100px;
}

#box4{
    width: 100px;
    height: 100px;
    background-color: rgb(233, 43, 189);
    position: absolute;
    top: 50px;
    left: 50px;
}

#box5{
    width: 100px;
    height: 100px;
    background-color: rgb(85, 77, 77);
    position: sticky;
    top: 0px;
}

#box6{
    width: 100px;
    height: 100px;
    background-color: rgb(55, 215, 236);
    position: static;
    top: 0px;
}