.icons{
    text-align: center;
}
.icons a{
    text-decoration: none;
    margin-right: 20px;
}
.fa-solid.fa-house.fa-5x{
    color: hsl(131, 77%, 52%)
}
.fa-solid.fa-house.fa-5x:hover{
    color: hsl(131, 77%, 65%)
}

.fa-brands.fa-twitter.fa-5x{
    color: hsl(195, 90%, 44%);
}
.fa-brands.fa-twitter.fa-5x:hover{
    color: hsl(195, 90%, 60%);
}

.fa-brands.fa-youtube.fa-5x{
    color: hsl(0, 90%, 45%);
}
.fa-brands.fa-youtube.fa-5x:hover{
    color: hsl(0, 90%, 60%);
}

.fa-brands.fa-tiktok.fa-5x{
    color: hsl(0, 0%, 0%);
}
.fa-brands.fa-tiktok.fa-5x:hover{
    color: hsl(0, 0%, 30%);
}
